body {
    /* background: #6D7074; */
    background: black;
}

a {
    color: green;
}


.terminal-window {
    text-align: left;
    width: 600px;
    height: 360px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30333a4e;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
    border-radius: 10px;

    box-shadow:
        /* 0 0 4px #ffffff,
        0 0 8px #ffffff, */
        0 0 12px #ffffff,
        0 0 16px #ffffff;;

}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .sky { color: paleturquoise; }

.container {
    position: absolute;
    display: flex;
    bottom: 30%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
}
.block:nth-child(1) {
    position: absolute;
    bottom: 150px;
    left:500px;

}

.block {
    background-color: #ffffff00;
    display: flex;

    width: 10px;
    height: 10px;
    gap: 10px;

    /* border-radius: 50%; */

    box-shadow:
    0 0 2px #ffffff,
    0 0 4px #ffffff,
    0 0 6px #ffffff,
    0 0 8px #ffffff;;

}

.motion-path-demo{
    position: absolute;
    width: 100%;
    margin: auto;
    align-items: center;
}
